
.service{
    box-sizing: border-box;
    background-color: rgb(238, 231, 231);
    border-radius: 10px;
    transition: .3s box-shadow;
}
.service:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
}
.card-img img{
   
  width: 100%;
}
.service-name{
    color: rgb(3, 3, 58);
    font-weight: bold;
}
.card-text{
padding: 1em;
}
.detail-btn{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .8em;
}
.arrow-icon{
   color: rgb(9, 9, 99);
   font-size: 1.2em;
   margin-right: .5em;
   display: inline-block;
  
}
.detail-btn:hover .arrow-icon{
    color: rgb(101, 194, 9);
    transition: .3s color;
    animation: rotateArrow .2s  linear;
}
@keyframes rotateArrow {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}