.custom-container{
    width: 90%;
    max-width: 99%;
    margin: 0 auto;
}
.section-title{
    position: relative;
    margin: 40px 0 25px 0;
}
.section-title::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: rgb(100, 247, 64);
    margin: 0 auto;
    margin-top: 5px;
}